@charset "utf-8";
*{margin:0;padding:0;}
body {min-width: 1300px;width: 100%;margin:0; padding:0; font:14px/1.5 \5FAE\8F6F\96C5\9ED1, serif; color:#373737; font-family: Arial, Helvetica, sans-serif;}
a {color:#fff; text-decoration:none;}
a:hover {text-decoration:underline; color:#2871d5;}
a:focus { outline: none; }
a.blue {color:#2871d5;}
a.red {color:#F00;}
dd,dl,img,li,ul{border:none;padding:0;margin:0;list-style-type:none;}

#header {height:80px; width:100%; background:#FFF; position:relative; z-index:999999; border-bottom:1px solid #EEE; margin-bottom:15px;}
#header .top_in {width:1200px; height:80px; margin:0 auto;}
.logo {width:205px; height:40px; float:left; margin-top:20px; position:relative;}

#header #nav {display:inline; float:left; margin-left:40px;}
#header #nav li {display:block; float:left; height:80px; position:relative;}
#header ul li a {display:block; float:left; height:80px; line-height:80px; color:#333; font-size:16px; padding:0 20px; position:relative; border-left:1px solid #EEE;}
#header #nav li a:hover {color:#388ddf; text-decoration:none;}
#header #nav li a:hover i {border-color:#388ddf #fff #fff;}
#header #nav li a.mutl {padding:0 30px 0 20px;}
#header #nav li a.last {border-right:1px solid #EEE;}
#header #nav li a i { position:absolute; right:15px; top:38px; width:0; height:0; font-size:0; line-height:0; border-width:4px; border-style:solid; border-color:#333 #fff #fff; -moz-transition:-moz-transform .2s ease-in; -webkit-transition:-webkit-transform .2s ease-in; -o-transition:-o-transform .2s ease-in; transition:transform .2s ease-in; -moz-transform:rotate(0); -webkit-transform:rotate(0); -o-transform:rotate(0); transform:rotate(0)}
#header #nav li a:hover i { -moz-transform:rotate(180deg); -moz-transform-origin:50% 30%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 30%;-o-transform:rotate(180deg); -o-transform-origin:50% 30%; transform:rotate(180deg); transform-origin:50% 30%; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
#header #nav ul {position:absolute; display:none; top:80px; left:0; margin-left:0; border:1px solid #EEE;}
#header #nav ul li {text-align:center; display:block; float:none; background:#FFF; height:30px; float:left;}
#header #nav ul li.nobg {background:none;}
#header #nav ul li a {color:#555; font-size:12px; width:74px; height:30px; line-height:30px; display:block; text-align:left; border:none;}
#header #nav ul li a:hover {text-decoration:none; color:#2871d5;}
.top_tool {float:right; margin-top:15px; width:263px;}
.top_tool .tlink {float:left; margin-left:15px; width:48px; height:48px; background:url(../assets/images/main/ic_block.png) no-repeat;}
.top_tool a.mobile {background-position:-48px 0;}
.top_tool a.mobile:hover {background-position:-48px -48px;}
.top_tool a.mac {background-position:0 0;}
.top_tool a.mac:hover {background-position:0 -48px;}
.top_tool a.global {background-position:-96px 0;}
.top_tool a.global:hover {background-position:-96px -48px;}

#nologin {width:40px; height:40px; line-height:40px; text-align:center; float:right;}
#nologin a {color:#2871d5;}
#logined {float:right; position:relative; display:none;}
#logined .face {padding:4px; margin-left:25px; float:right;}
#logined .nick {overflow:hidden;}
#logined .user_info {position:absolute; width:172px; height:50px; padding:5px 10px; background:#FFF; border:1px solid #343434; top:65px; right:0; display:none; font-size:12px;}
#logined .user_info .arow {position:absolute; top:-8px; right:17px; width:15px; height:8px; background:url(../assets/images/main/arow1.png) no-repeat;}
#logined .logout {float:right; color:#2871d5;}
#iconElm,#safeElm {display:inline-block; width:16px; height:16px;}
#iconElm,#safeElm,#safejb {display:block; width:16px; height:17px; margin:8px 10px 0 0; float:left; background:url(../pcmgr/user/img/icon2.png) no-repeat;}
#header .icon_on {background:url(../img/logo_v8_16.png) 0 0 no-repeat;}
#header .icon_off {background:url(../img/logo_v8_16.png) -16px 0 no-repeat}
#header .safejb {background:url(../pcmgr/user/img/7/jb.png) 0 1px no-repeat; line-height:18px; padding-left:20px; width:40px; color:#373737;}
#header .safe_lv1 {background-position:0 -28px;}
#header .safe_lv2 {background-position:0 -57px;}
#header .safe_lv3 {background-position:0 -86px;}
#header .safe_lv4 {background-position:0 -115px;}
#header .safe_lv5 {background-position:0 -144px;}
#header .safe_lv6 {background-position:0 -173px;}
#header .safe_lv7 {background-position:0 -199px;}
#header .safe_lv8 {background-position:0 -225px;}
#header .safe_lv9 {background-position:0 -252px;}
#header .safe_lv10 {background-position:0 -279px;}
#loginframe {display:none;height: 379px;overflow: hidden; width: 552px;}

.footer {
    /* background: #121010; */
    background: #010104;
    width: 100%;
    float: left;
    font-size: 12px;
    line-height: 1.8em;
    text-align: center;
    padding: 30px 0;
    height: 40px
}
.footer a,.footer span {color:#ffffff!important; text-decoration:none; padding:0 10px; opacity: .6;}
.footer a:hover {text-decoration:underline;}
.footer .copyright {color:#ffffff; opacity: .6;}

/**reset*/

#header {
    margin-bottom: 0 !important;
}

#face {
    border: none;
    margin: 0;
    padding: 0;
}

.hide{display: none!important;}

/* mini-header */
.mini-header{
    height: 54px;
    width: 100%;
    background: #121010;
}

.mini-header .header-wrapper{
    width: 1200px;
    height: 54px;
    /* overflow: hidden; */
    margin: 0 auto;
    position: relative;
}
.sy-logo {
    margin-top: 10px;
}

.mini-header .sy-navi{
    position: absolute;
    top: 0;
    right: -25px;
    /* width: 400px; */
    height: 54px;
    font-family: \5FAE\8F6F\96C5\9ED1;
}

.mini-header .sy-navi a{
    /* display: inline-block; */
    color: #8c92a1;
    /* width: 100px; */
    padding: 0 25px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-left: 24px;
    font-size: 16px;
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.mini-header .sy-navi .on{
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #0189ff;
}

.mini-header .sy-navi .sd{
    position: absolute;
    width: 100px;
    height: 4px;
    background: #266cff;
    left: 0;
    bottom: 0;
}

/* support-games */
.support-games {
    height: 65px;
    line-height: 65px;
    background: rgba(56, 56, 75, 0.75);
    font-size: 16px;
}
.support-games-wrap {
    width: 1200px;
    margin: 0 auto;
}
.support-game {
    margin-right: 20px;
    display: block;
    float: left;
    text-decoration: none;
    color: #9a9aa0;
    height: 100%;
    overflow: hidden;
}
.support-games-wrap a {
    opacity: 0.8;
}
.support-games-wrap a:hover {
    opacity: 1;
}
.support-games-wrap img {
    vertical-align: middle;
}

/* buddy-wrap */
.buddy-wrap {
    height: 890px;
}
.buddy-download {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    font-family: "TTTGB-Medium";
    padding-top: 30px;
}
.buddy-download h1 {
    font-size: 50px;
    color: #fff;
    font-weight: normal;
}
.buddy-download h3 {
    font-size: 22px;
    color: #c8cbd5;
    font-weight: normal;
    margin-bottom: 17px;
}
.btn-download {
    display: block;
    width: 212px;
    height: 58px;
    margin: 0 auto;
    background: url("../image/buddy-download.png") no-repeat 0 0;
    cursor: pointer;
}
.btn-download:hover {
    background-position: -212px 0;
}
.btn-download:active {
    background-position: -424px 0;
}

#change-log .act_wrapper .act_inner {
    height: auto;
}

/* aov-wrap */
.aov-wrap {
    height: 849px;
    position: relative;
    overflow: hidden;
}
.aov-video {
    position: absolute;
    left: -500px;
    top: 0;
    right: -500px;
    margin: 0 auto;
}
.aov-download {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 209px 0 0 96px;
    position: relative;
}
.aov-title {
    display: block;
    margin-bottom: 10px;
}
.aov-download h3 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-weight: normal;
}
.version-select-wrap {
    margin-top: 30px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
}
.label {
    color: #fff;
    float: left;
    margin-right: 20px;
}
.version-select {
    color: #abaeb4;
    background: rgba(2, 3, 10, 0.9);
    float: left;
    min-width: 184px;
    _width: 184px;
    height: 36px;
    position: relative;
    cursor: pointer;
}
.version-select-title {
    padding-left: 15px;
    height: 100%;
}
.version-select-title img {
    float: right;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 10px;
}
.version-select-list {
    position: absolute;
    bottom: 32px;
    left: 0;
    width: 100%;
    background: rgba(2, 3, 10, 0.9);
    line-height: 32px;
    display: none;
}
.version-select-item {
    padding-left: 11px;
}
.version-select-item:hover, .version-select-item.active {
    color: #fff;
    background: #2c2f3b;
}
.aov-download .btn-download {
    background-image: url('../image/aov-download.png');
    width: 285px;
    height: 112px;
    margin-left: -20px;
}
.aov-download .btn-download:hover {
    background-position: -285px 0;
}
.aov-download .btn-download:active {
    background-position: -570px 0;
}

/** pubg **/
.pubg-wrap {
    height: 1080px;
    position: relative;
    overflow: hidden;
    background: #161413;
}
.pubg-wrap .pubg-mask{
    width: 1920px;
    height: 1080px;
    position: absolute;
    margin-left: -960px;
    left: 50%;
    top: 0;
}
.pubg-wrap .img {
    width: 100%;
    height: 100%;
    -ms-interpolation-mode: bicubic;
}
.pubg-wd{
    position: absolute;
    top: 208px;
    left: 50%;
    margin-left: -500px;
    width: 1023px;
    height: 273px;
    font-family: 'TTTGB-Medium';
    text-align: center;
    line-height: 1.5;
    color: #fff;
}
.pubg-wd-top {
    font-size: 18px;
    text-align: right;
    color: #ffc000;
}
.pubg-wd-middle {
    font-size: 69px;
}
.pubg-wd-bottom {
    font-size: 24px;
    font-family: "Microsoft Yahei";
    color: rgba(255, 255, 255, 0.6);
}
.pubg-download-wrap .download-title{
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    /*display: none;*/
    height: 12px;
    line-height: 12px;
    margin: 14px 0 24px;
    text-align: center;
    z-index: 999;
}
.pubg-download-wrap .guide{
    text-align: center;
    position: absolute;
    left: 883px;
    bottom: 167px;
}
.pubg-download-wrap .tip-beta{
    text-align: center;
    position: absolute;
    font-style: normal;
    color: #fff;
    width: 100%;
    bottom: 8px;
    line-height: 1;
}
.pubg-download{
    display: block;
    width: 344px; height: 140px;
    line-height: 140px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    z-index: 999;
    background: url(../image/btn-download.png) no-repeat center center;
    position: absolute;
    left: 50%; top: 503px;
    margin-left: -172px;
}
.pubg-download:hover{
    color: #fff;
    text-decoration: none;
    background-image: url(../image/btn-download-hover.png);
}
.pubg-download:active{
    background-image: url(../image/btn-download-active.png);
}
.pubg-download.disabled {
    background-image: url(../guanjia/images/5d/24/5d247f07d9e2af23932643a4498d259c.png);
    cursor: not-allowed;
}
.pubg-download.disabled strong {
    display: none;
}
.disabled-text {
    display: none;
    color: red;
    line-height: 1.5;
    font-size: 14px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 8px;
}
.pubg-download.disabled .disabled-text {
    display: inline;
}
.choose-version {
    position: absolute;
    left: 0;
    top: 500px;
    width: 100%;
    text-align: center;
    z-index: 999;
    color: #fff
}
.choose-version label {
    margin-left: 12px;
}
.choose-version input {
    vertical-align: middle;
}

/* activity */
.activity-wrap {
    width: 1200px;
    padding-top: 49px;
    min-height: 800px;
    margin: 0 auto;
}
.activity-wrap h3 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 22px;
    margin-bottom: 27px;
    font-weight: normal;
    border-left: 1px solid #fff;
    padding-left: 9px;
}
.activity-list {
    overflow: hidden;
    margin-right: -20px;
}
.activity-item {
    background: url("../image/activity-item.png") no-repeat 0 0;
    width: 285px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 21px;
}
.activity-text {
    height: 100%;
    box-sizing: border-box;
    padding-left: 17px;
    padding-top: 6px;
    position: relative;
    background: url("../image/activity-item-mask.png") no-repeat center bottom;
}
.icon-progress {
    display: block;
    margin-bottom: 100px;
    margin-left: -11px;
}
.activity-name {
    font-size: 16px;
    color: #fff;
}
.activity-date {
    font-size: 12px;
    color: #dc9058;
}
.activity-desc {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

/* changelog */
.changelog-wrap {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 960px;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    padding-top: 80px;
}
.changelog-content {
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
.titles{
    padding: 2px 0 0 10px;
    border-left: solid #2871d5 4px;
    font-size: 20px;
    font-weight: bold;
}
.announce{
    /*width: 100%;*/
    height: 65px;
    line-height: 65px;
    padding-left: 35px;
    margin: 30px 0 0;
    background: #292f3f;
    position: relative;
}
.jump_link{
    color: #24c9ff;
    text-decoration: underline;
    position: absolute;
    right: 50px;
    font-size: 16px;
    font-weight: normal;
}
.line-bar{
    position: absolute;
    width: 2px;
    height: 100%;
    background: #262b39;
    left: 105px;
    top: 43px;
}
.version-card{
    background: #262b39;
    padding: 30px 40px;
    position: relative;
    margin-left: 145px;
    margin-bottom: 28px;
}
.version-card:last-child{
    margin-bottom: 80px;
}
.version-card.newest{
    background: #30374a;
}
.version-card .card-title{
    font-size: 18px;
    font-weight: bold;
}
.version-card .new-p{
    font-size: 14px;
    color: #a1a5ba;
    margin-top: 20px;
}
.version-card .new-p-title {
    font-weight: bold;
}
.newest .card-icon .date{
    opacity: 1;
}
.card-icon .date{
    position: absolute;
    top: 30px;
    left: -145px;
    font-size: 13px;
    opacity: .6;
}
.card-icon .icon1, .card-icon .icon3{
    position: absolute;
    top: 39px;
    left: -44px;
}
.card-icon .icon2{
    position: absolute;
    top: 34px;
    left: -9px;
}


.mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    display: none;
    z-index: 9999;
}

.mask div{
    /*background: url(../image/pop_up.png) no-repeat;*/
    /*background-size: 600px 750px;*/
    width: 600px;
    height: 750px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -375px 0 0 -325px;
}

.mask img{
    width: 600px;
    height: 750px;
    position: absolute;
    left: 0;
    top: 0;
}

.mask div .d-btn{
    position: absolute;
    width: 166px;
    height: 30px;
    right: 95px;
    top: 142px;
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==);
}
.mask div .c-btn{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 11px;
    top: 4px;
    background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==);
}

.mt20{
    margin-top: 20px;
}